appnope==0.1.0
attrs==16.0.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bleach==1.5.0
cffi==1.6.0
cryptography==1.4
cssselect==0.9.1
cycler==0.10.0
Cython==0.27.1
dask==0.10.0
decorator==4.0.10
entrypoints==0.2.2
future==0.15.2
glmnet==1.0.0
gnureadline==6.3.3
h5py==2.7.1
html5lib==0.9999999
idna==2.1
ipykernel==4.5.2
ipython==4.2.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.8
joblib==0.11
jsonschema==2.5.1
jupyter-client==4.4.0
jupyter-core==4.2.1
lxml==3.6.0
MarkupSafe==0.23
matplotlib==1.5.3
mpmath==0.19
nbconvert==5.0.0
nbformat==4.2.0
networkx==1.11
numpy==1.13.3
pandas==0.18.1
pandocfilters==1.4.1
parsel==1.4.0
patsy==0.4.1
pexpect==4.1.0
pickleshare==0.7.2
Pillow==3.2.0
plotly==1.12.12
psycopg2==2.6.1
ptyprocess==0.5.1
py==1.4.31
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
PyDispatcher==2.0.5
Pygments==2.1.3
pylab==0.1.3
pymc3==3.3
pyobjc==3.2.1
pyobjc-core==3.2.1
pyobjc-framework-Accounts==3.2.1
pyobjc-framework-AddressBook==3.2.1
pyobjc-framework-AppleScriptKit==3.2.1
pyobjc-framework-AppleScriptObjC==3.2.1
pyobjc-framework-ApplicationServices==3.2.1
pyobjc-framework-Automator==3.2.1
pyobjc-framework-AVFoundation==3.2.1
pyobjc-framework-AVKit==3.2.1
pyobjc-framework-CalendarStore==3.2.1
pyobjc-framework-CFNetwork==3.2.1
pyobjc-framework-CloudKit==3.2.1
pyobjc-framework-Cocoa==3.2.1
pyobjc-framework-Collaboration==3.2.1
pyobjc-framework-Contacts==3.2.1
pyobjc-framework-ContactsUI==3.2.1
pyobjc-framework-CoreBluetooth==3.2.1
pyobjc-framework-CoreData==3.2.1
pyobjc-framework-CoreLocation==3.2.1
pyobjc-framework-CoreText==3.2.1
pyobjc-framework-CoreWLAN==3.2.1
pyobjc-framework-CryptoTokenKit==3.2.1
pyobjc-framework-DictionaryServices==3.2.1
pyobjc-framework-DiskArbitration==3.2.1
pyobjc-framework-EventKit==3.2.1
pyobjc-framework-ExceptionHandling==3.2.1
pyobjc-framework-FinderSync==3.2.1
pyobjc-framework-FSEvents==3.2.1
pyobjc-framework-GameCenter==3.2.1
pyobjc-framework-GameController==3.2.1
pyobjc-framework-ImageCaptureCore==3.2.1
pyobjc-framework-IMServicePlugIn==3.2.1
pyobjc-framework-InputMethodKit==3.2.1
pyobjc-framework-InstallerPlugins==3.2.1
pyobjc-framework-InstantMessage==3.2.1
pyobjc-framework-Intents==3.2.1
pyobjc-framework-IOSurface==3.2.1
pyobjc-framework-LatentSemanticMapping==3.2.1
pyobjc-framework-LaunchServices==3.2.1
pyobjc-framework-LocalAuthentication==3.2.1
pyobjc-framework-MapKit==3.2.1
pyobjc-framework-MediaAccessibility==3.2.1
pyobjc-framework-MediaLibrary==3.2.1
pyobjc-framework-MediaPlayer==3.2.1
pyobjc-framework-ModelIO==3.2.1
pyobjc-framework-MultipeerConnectivity==3.2.1
pyobjc-framework-NetFS==3.2.1
pyobjc-framework-NetworkExtension==3.2.1
pyobjc-framework-NotificationCenter==3.2.1
pyobjc-framework-OpenDirectory==3.2.1
pyobjc-framework-Photos==3.2.1
pyobjc-framework-PhotosUI==3.2.1
pyobjc-framework-PreferencePanes==3.2.1
pyobjc-framework-PubSub==3.2.1
pyobjc-framework-QTKit==3.2.1
pyobjc-framework-Quartz==3.2.1
pyobjc-framework-SafariServices==3.2.1
pyobjc-framework-SceneKit==3.2.1
pyobjc-framework-ScreenSaver==3.2.1
pyobjc-framework-ScriptingBridge==3.2.1
pyobjc-framework-SearchKit==3.2.1
pyobjc-framework-ServiceManagement==3.2.1
pyobjc-framework-Social==3.2.1
pyobjc-framework-SpriteKit==3.2.1
pyobjc-framework-StoreKit==3.2.1
pyobjc-framework-SyncServices==3.2.1
pyobjc-framework-SystemConfiguration==3.2.1
pyobjc-framework-WebKit==3.2.1
pyparsing==2.1.10
pystan==2.17.0.0
pytest==2.6.4
python-dateutil==2.6.0
pytz==2016.10
pyzmq==15.2.0
queuelib==1.4.2
recsys==0.0.4
rpy2==2.8.3
savReaderWriter==3.4.2
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.19.0
Scrapy==1.5.0
seaborn==0.7.1
selenium==2.53.4
service-identity==16.0.0
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
statsmodels==0.8.0
sympy==1.0
terminado==0.6
testpath==0.3
Theano==1.0.1
toolz==0.8.0
tornado==4.3
tqdm==4.19.6
traitlets==4.2.1
Twisted==16.2.0
w3lib==1.19.0
widgetsnbextension==1.2.6
zope.interface==4.1.3
